@font-face {
  font-family: Russia;
  src: url('~@/assets/fonts/russia.ttf');
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #336295;
  color: #fff;
  font-family: Russia, '微软雅黑';
}

/* transition animations */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
