.c-playingView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-playingView__header {
  position: relative;
  margin: 8px 16px 4px 16px;
}

.c-playingView__logo {
  width: 54px;
  height: 54px;
}

/* sniper view */
.c-sniper {
  position: relative;
  padding: 5px;
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
}
.c-sniper__aim {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 101%;
  z-index: 10;
}
.c-sniper__spark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.c-sniper__cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  z-index: 1;
}
.c-interlace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* selections */
.c-playingView__selections {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-playingView__selections li {
  position: relative;
}
.c-selections__item {
  display: inline-block;
  width: 42vw;
  height: 11vw;
  line-height: 11vw;
  margin: 3vw 2vw;
  text-align: center;
  color: rgba(255,255,255,.8);
  box-sizing: border-box;
  background-image: url(../images/txt_bg_blue.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.c-selections__correct {
  position: absolute;
  top: 14vw;
  right: 4vw;
  display: block;
  font-size: 14px;
  color: #2ce465;
}
.c-selections__wrong {
  position: absolute;
  top: 14vw;
  right: 4vw;
  display: block;
  font-size: 14px;
  color: red;
}