.c-welcomeView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* cloud */
.c-clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 5;
}
.c-cloud {
  position: absolute;
  top: 0;
  left: 0;
}
.c-cloud.c0 {
  top: -40%;
  left: -50%;
  width: 400%;
  z-index: 2;
  opacity: .5;
  animation-name: drift1;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.c-cloud.c1 {
  top: -50%;
  left: -50%;
  width: 400%;
  z-index: 1;
  opacity: .3;
  animation-name: drift2;
  animation-timing-function: ease;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes drift1 {
  0% {
    left: -75%;
  }
  100% {
    left: -25%;
  }
}
@keyframes drift2 {
  0% {
    left: -60%;
  }
  100% {
    left: -40%;
  }
}

.c-logo {
  position: absolute;
  top: -4%;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.c-logo__img {
  position: absolute;
  z-index: 2;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.c-logo__txt {
  position: relative;
  width: 90%;
}

.c-spark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
